* {
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background: #F8F8F8;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

header {
  height: auto;
  background: #fff;
  padding: 0 3%;
  margin: 0;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 0;
}

ul li {
  display: inline-block;
  padding-left: 4.2rem;
}

.nav_menu_item span {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  color: rgba(17, 16, 71, 0.5);
}

.nav_menu_item span:hover {
  color: rgba(17, 16, 71, 1);
}

.main {

  padding:16.2rem 1.6rem;
}

.container{

}


.column {
  background: #fff;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}

.column:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #AD9AFE;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.image_left img {
  width: 100%;
}

.title_right {
  margin-left: 4.57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_right h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #07062B;
  max-width: 274px;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.category a{
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  border-radius: 4rem;
  padding: .2rem 1rem;
  margin-right: 1.6rem;
}

.first_category {
  color: #AD9AFE;
  background: rgba(173, 154, 254, 0.25);
}

.second_category {
  color: #F78BF9;
  background: rgba(247, 139, 249, 0.25);
}

@media (min-width:414px) {

}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .main{padding: 15rem 3%;}
  header{padding:0 3%}
  .category a{margin-right: .5rem;margin-bottom: .5rem;}
  .title_right h2{margin:0;}
}

@media (min-width: 1024px) {
  /*.main{padding: 15rem 3%;}
  header{padding:0 3%}*/
  .category a{margin-right: .5rem;}
  .title_right h2{margin:1.8rem 0;}
}

@media (min-width: 1100px) {
/*.main{padding: 15.5rem 3%;}
header{padding:0 3%}*/
.category a{margin-right: 1rem;}
}

@media (min-width: 1280px) {
  .main {
    padding: 16.2rem 8%;
}

header {
  padding: 0 8%;
}

.category a{
  margin-right: 1.2rem;
  margin-bottom: .5rem;
}

}

@media (min-width: 1366px) {
  .main {
    padding: 16.2rem 11%;
  }

  header {
    padding: 0 11%;
  }

  .category a{
    margin-right: 1.2rem;
  }
}

@media (min-width: 1440px) {
  /*.main {
    padding: 16..2rem 11%;
  }

  header {
    padding: 0 11%;
  }
}*/

@media (min-width: 1680px) {
  .main {
    padding: 16.2rem 16.8%;
  }

  header {
    padding: 0 16.8%;
  }
}

@media (min-width: 1920px) {
  /*.main {
    padding: 16.2rem 16.8%;
  }

  header {
    padding: 0 16.8%;
  }
}
*/
